# 快速查看整体信息
上一章讲到了控制DataFrame显示的一些参数，本章则具体讲解一下如何获得对DataFrame的整体认知。

In [1]:
!cd

E:\ML\实战\pandas实用教程 - 副本

In [2]:
import numpy as np
import pandas as pd

# 1. `.info()`
这是DataFrame才可用的API，快捷查看多种信息：总行数和列数、每列元素类型和non-NaN的个数，总内存。
#### `DataFrame.info(verbose=None, memory_usage=True, null_counts=True)`
- verbose：True or False，字面意思是冗长的，也就说如何DataFrame有很多列，是否显示所有列的信息，如果为否，那么会省略一部分；
- memory_usage：True or False，默认为True，是否查看DataFrame的内存使用情况；
- null_counts：True or False，默认为True，是否统计NaN值的个数。

In [3]:
df = pd.DataFrame( columns = range(0,100))
df

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
Index: []

[0 rows x 100 columns]

In [4]:
df.info()  # 直接默认设置即可

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 100 columns):
0     0 non-null object
1     0 non-null object
2     0 non-null object
3     0 non-null object
4     0 non-null object
5     0 non-null object
6     0 non-null object
7     0 non-null object
8     0 non-null object
9     0 non-null object
10    0 non-null object
11    0 non-null object
12    0 non-null object
13    0 non-null object
14    0 non-null object
15    0 non-null object
16    0 non-null object
17    0 non-null object
18    0 non-null object
19    0 non-null object
20    0 non-null object
21    0 non-null object
22    0 non-null object
23    0 non-null object
24    0 non-null object
25    0 non-null object
26    0 non-null object
27    0 non-null object
28    0 non-null object
29    0 non-null object
30    0 non-null object
31    0 non-null object
32    0 non-null object
33    0 non-null object
34    0 non-null object
35    0 non-null object
36    0 non-null object
37    0 non-null object
38    0 non-null object
39    0 non-null object
40    0 non-null object
41    0 non-null object
42    0 non-null object
43    0 non-null object
44    0 non-null object
45    0 non-null object
46    0 non-null object
47    0 non-null object
48    0 non-null object
49    0 non-null object
50    0 non-null object
51    0 non-null object
52    0 non-null object
53    0 non-null object
54    0 non-null object
55    0 non-null object
56    0 non-null object
57    0 non-null object
58    0 non-null object
59    0 non-null object
60    0 non-null object
61    0 non-null object
62    0 non-null object
63    0 non-null object
64    0 non-null object
65    0 non-null object
66    0 non-null object
67    0 non-null object
68    0 non-null object
69    0 non-null object
70    0 non-null object
71    0 non-null object
72    0 non-null object
73    0 non-null object
74    0 non-null object
75    0 non-null object
76    0 non-null object
77    0 non-null object
78    0 non-null object
79    0 non-null object
80    0 non-null object
81    0 non-null object
82    0 non-null object
83    0 non-null object
84    0 non-null object
85    0 non-null object
86    0 non-null object
87    0 non-null object
88    0 non-null object
89    0 non-null object
90    0 non-null object
91    0 non-null object
92    0 non-null object
93    0 non-null object
94    0 non-null object
95    0 non-null object
96    0 non-null object
97    0 non-null object
98    0 non-null object
99    0 non-null object
dtypes: object(100)
memory usage: 0.0+ bytes

---
# 2. `.ndim, .shape, .size`
查看维数，形状，元素个数。

In [29]:
df = pd.DataFrame( [[np.nan, 2],[3,np.nan]], columns = ['A','B'])
df

     A    B
0  NaN  2.0
1  3.0  NaN

In [30]:
df.ndim  # 返回维度数，Series一维，DataFrame两维，平时很少用到，不过有时会在循环中用到

2

In [31]:
df.shape  # (行数，列数)

(2, 2)

In [32]:
df.size   # 元素个数，rows×cols

4

---
# 3. `.head(), .tail()`
默认分别查看头5行和后5行。

#### `Series/DataFrame.head(n=5)`
#### `Series/DataFrame.tail(n=5)`

In [9]:
s = pd.Series( range(0,5))
s

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [10]:
s.head(3)

0    0
1    1
2    2
dtype: int32

In [11]:
s.tail(3)

2    2
3    3
4    4
dtype: int32

---
# 4. `.memory_usage()`
比info中内存显示更可控一些，单位是**字节**。
#### `Series/DataFrame.memory_usage(index=True, deep=False)`
- index：是否显示索引占用的内存，毫无疑问索引也占用内存；
- deep：是否显示object类型的列消耗的系统资源，由于pandas中object元素只是一个引用，我估计这个deep是指显示真实的内存占用。

In [65]:
df.memory_usage(deep = False)  # Index即索引占用内存

Index      80
numeric    24
object     24
dtype: int64

In [68]:
df.memory_usage(deep = True)  # object 型占用的内存变大

Index       80
numeric     24
object     186
dtype: int64

---
# 5. `.describe()`
快速查看每一列的统计信息，默认排除所有NaN元素。
#### `DataFrame.describe( include= [np.number])`
- include：'all'或者[np.number 或 np.object]。numberic只对元素属性为数值的列做数值统计，object只对元素属性为object的列做类字符串统计。

In [49]:
df = pd.DataFrame( [[1,'a'],[2,'b'],[1,'b']], columns = ['numeric','object'])
df

   numeric object
0        1      a
1        2      b
2        1      b

In [50]:
df.dtypes

numeric     int64
object     object
dtype: object

In [51]:
df.describe()  # 默认只对数值列进行统计

        numeric
count  3.000000
mean   1.333333
std    0.577350
min    1.000000
25%    1.000000
50%    1.000000
75%    1.500000
max    2.000000

In [56]:
df.describe( include=[np.object]) # 只对object型列进行统计，类别统计方式，只统计这四种

       object
count       3
unique      2
top         b
freq        2

In [57]:
df.describe( include = 'all')  # 数值序列和object序列共同统计的信息只有count: non-NaN元素个数

         numeric object
count   3.000000      3
unique       NaN      2
top          NaN      b
freq         NaN      2
mean    1.333333    NaN
std     0.577350    NaN
min     1.000000    NaN
25%     1.000000    NaN
50%     1.000000    NaN
75%     1.500000    NaN
max     2.000000    NaN